
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
{% load static %}
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="{% static 'http://fonts.googleapis.com/css?family=Englebert|Open+Sans:400,600,700' %}" rel="stylesheet" />
<link href="{% static 'styles/default.css' %}" rel="stylesheet" type="text/css" media="all" />
<!--[if IE 6]>
<link href="default_ie6.css" rel="stylesheet" type="text/css" />
<![endif]-->
</head>
<body>
<div id="header" class="container">
	<div id="logo">
		<h1><a href="#">Foody</a></h1>
		<p style="background-color:black">Think twice</p>
	</div>
	<div id="menu">
		<ul>
			<li><a href="product" accesskey="1" title="">Explore</a></li>
			<!-- <li><a href="temp" accesskey="1" title="">QR code</a></li> -->
			<li><a href="vendor" accesskey="1" title="">Vendor</a></li>
			<li><a href="appuser" accesskey="1" title="">Users</a></li>
		
			<li><a href="blog" accesskey="3" title="">Blogs</a></li>
			<li><a href="about" accesskey="4" title="">About Us</a></li>
			<li><a href="contact" accesskey="5" title="">Contact Us</a></li>
		</ul>
	</div>
</div>
<div id="wrapper" class="container">
	<div id="page">
		<div id="content"> <a href="#" class="image-style"><img src="{% static 'images/street.jpg' %}" width="600" height="250" alt="" /></a>
			<h2>Street food</h2>
					<p>You may visit countries and try their prominent street foods, 
						but we bet the taste won't match the one you'll have in the Street food of India. 
						From mouth-watering Paani Puri,
						 the Dahi Bhallas to the Chaat Papdi Indian Street foods are delicious. 
						 As diverse as is the country, it experiences a manifold of cuisines,
						  each having at least one speciality of Street Food.
					</p>

		<a href="#" class="link-style1">Learn More</a></div>
		
	</div>
</div>
<div id="footer">
	<p>&copy; Untitled. All rights reserved. Design by <a href="http://templated.co" rel="nofollow">TEMPLATED</a>. Photos by <a href="http://fotogrph.com/">Fotogrph</a>.</p>
</div>
</body>
</html>
